<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true">
      <sidenavcontent></sidenavcontent>
  </mat-sidenav>
  <div class="sidenav-body">
      <mat-toolbar color="primary" role="header" class="fixed-upper">
          <button mat-button (mouseenter)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span>{{title}}</span>
      </mat-toolbar>
      <div class="main-content parallax">
          <router-outlet></router-outlet>
      </div>
  </div>
</mat-sidenav-container>