mat-sidenav {
    width: 300px;
}
html, body, material-app, mat-sidenav-container, .sidenav-body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.fixed-upper{
    top: 0;
    position: fixed;
    overflow: hidden;
}